.sidebar {
  transition: all 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
  transition: transform 0.3s ease;
}

.sidebar .logo:hover {
  transform: scale(1.1);
}

.sidebar .link {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  color: #27391c;
}

.sidebar .link:hover {
  background-color: #e4efe7;
  color: #27391c;
  transform: translateX(10px);
}

.sidebar .link.active {
  background-color: #99bc85;
  color: #27391c;
  transform: translateX(10px);
}

.sidebar .link.active span {
  color: #efefef;
}
